.image-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .image-container img {
    margin: 10px; /* Adjust the margin size as needed */
    height: 400px;
    width: 600px;
  }